

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LitalagicaL Mono';
  src: url('./Litalagical_Mono/webfonts/LitalagicaLMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
